/* Write the CSS for you answer here */
.bg-land{
    margin: auto;
    width: 700;
    height: 500px;
    background-image: url(assets/landscape.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.9;
    z-index: 0;
}

.tree img{
    margin: auto;
    margin-top: 30px;
    position: fixed;
    width: 700px;
    height: 500px;
    /* background-image: url(assets/pohutukawa.png);
    background-position-y: 30px;
    background-position-x: center;
    background-repeat: no-repeat; */
    opacity: 1;
    z-index: 2;
    pointer-events: none; /* to restore it, set value to: auto */
}

.bulb{
    width: 49px;
    height: 64px;
    position: fixed;
    z-index: 3;
    background-size: cover;
    transition-property: width, height;
    transition-duration: 2s;
}

.bulb:hover{
    width: 98px;
    height: 128px;
}

#red{
    background-image: url(assets/red.png);
    top: 300px;
    left: 100px;
}
#blue{
    background-image: url(assets/blue.png);
    top: 250px;
    left: 180px;
}
#darkblue{
    background-image: url(assets/darkblue.png);
    top: 320px;
    left: 300px;
}
#pink{
    background-image: url(assets/pink.png);
    top: 300px;
    left: 400px;
    z-index: 1;
}
#green{
    background-image: url(assets/green.png);
    top: 180px;
    left: 450px;
}
#orange{
    background-image: url(assets/orange.png);
    top: 300px;
    left: 600px;
}
