body{
    background-color: lavender;
}

.container{
    width: 600px;
    margin: 100px 300px;
    padding: 0px 100px 0px 200px;
    background-color: white;
    border-radius: 0 50px 0 50px;
    box-shadow: 10px 10px 5px #888888;    
    background-repeat: repeat-y;
    background-image: url(assets/ytile-pattern.png);
    background-position-x: 50px;
}

pre{
    color: purple;
    line-height: 1.5em;
    font-size: 22pt;
    font-family: AlexBrush;
    font-weight: bold;
}

@font-face{
    font-family: AlexBrush;
    src: url(fonts/AlexBrush-Regular.ttf)
}

#corner-lt{
    position: relative;
    top: -100px;
    left: -550px;
}

#corner-rb{
    position: relative;
    bottom: -200px;
    right: -600px;
}

.ytile{
    position: relative;
    top: 100px;
    left: -100px;
    float: left;
    clear: both;
}

@media print{
    .bg{
        visibility: hidden;
    }
    body{
        background-color: white;
    }
    .container{
        width: 100%;
        margin: 1em;
        border-style: none;
        box-shadow: 0 white;
    }

    pre{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}